* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-weight: 200;
}

h3 {
    font-weight: 100;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: #333;
    color: #ddd;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.nav-item a {
    background: transparent;
    border: 1px solid #ddd;
    color: #fff;
    border-radius: 10px;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}

.nav-item a:hover,
.nav-item a:focus {
    background: #ddd;
    border: 1px solid #333;
    color: #333;
    text-decoration: none;
}

.social-button {
    padding: 3px;
    vertical-align: middle;
}

.social-icon {
    vertical-align: middle;
    width: 32px;
}

.social-text {
    vertical-align: middle;
}

.profile-img {
    border-radius: 20px;
}

.vital-card {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
    margin: 1em;
}

.vital-card h3 {
    text-align: center;
    margin: 0.5em 1em;
    font-weight: 600;
}

.vital-card h4 {
    font-weight: 100;
    margin: .3em;
}

.vital-card p {
    font-size: 11pt;
    margin: .3em;
    font-weight: 100;
}

.employment {
}

.employment .vital-card-top {
    margin: 0;
    color: #fff;
}

.vital-card h2 {
    font-weight: 100;
    text-align: center;
    margin: 0;
}

.vital-card-top > a {
    text-decoration: none;
    color: #333;
}

.vital-card-top {
    padding: 1em;
}

.vital-card-body {
    padding: 1em;
}

@media (min-width: 35.5em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}
