<div class="content vitals pure-u-1 pure-u-sm-3-4">
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-lg-1-3">
        {{ if (len (where .Data.Pages "Section" "employment")) gt 0 }}
        <div class="vital-card-header">
            <h3>Employment</h3>
        </div>
        {{ end }}
        {{ range where .Data.Pages "Section" "employment" }}
        {{ .Render "card" }}
        {{ end }}
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-lg-1-3">
        {{ if (len (where .Data.Pages "Section" "education")) gt 0 }}
        <div class="vital-card-header">
            <h3>Education</h3>
        </div>
        {{ end }}
        {{ range where .Data.Pages "Section" "education" }}
        {{ .Render "card" }}
        {{ end }}
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3">
    </div>
</div>
