<div class="vital-card honors">
    <div class="vital-card-top">
        <a href="{{ .Params.honors_website }}" target="_blank">
            <h2>{{ .Params.honors_name }}</h2>
            {{ if isset .Params "honors_img" }}
            <img src="img/{{ .Params.honors_img }}" class="pure-img" alt="{{ .Params.honors_name }}" />
            {{ end }}
        </a>
    </div>
    <div class="vital-card-body">
        <p>{{ .Params.summary }}</p>
        <!-- <p><a href="{{ .Permalink }}">more...</a></p>  -->
    </div>
</div>
